.button-head button {
  background: transparent;
  color: #ffffff;
  border: 0;
  outline: 0;
  font-size: 30px;
  position: absolute;
  z-index: 1024;
  right: 80px;
  margin-top: 5px;
}

.table_buttton_groupbtn a {
  margin: 0 5px;
  cursor: pointer;
}

.table_buttton_groupbtn a>.fa-trash {
  color: #e32323;
}

.table_buttton_groupbtn a>.fa-edit {
  color: #16c024;
}

.model-footer-btns button {
  border: 0;
  outline: 0;
  margin: 4px
}

.model-footer-btns .cancelBtn {
  padding: 6px 26px;
  border: 1px solid #ddd;
  font-size: 14px;
  font-weight: 500;
}

.model-footer-btns .SaveBtn {
  padding: 6px 26px;
  border: 1px solid #d35400;
  font-size: 14px;
  font-weight: 500;
  background: #d35400;
  color: #ffffff;
}
