<section>
    <div class="view-intro mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="banner-content">
                        <div class="text-center mb-3 loginpageHouse">
                            <img src="assets/images/dog.png" />
                        </div>
                        <h1 class="h1-responsive-heading">Welcome to vets and pets </h1>
                        <hr class="hr-light">
                        <h6 class="h1-responsive-heading_description">Lorem Ipsum is simply dummy text of the printing
                            and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of
                            type and scrambled it to make a type specimen book.
                        </h6>
                    </div>
                </div>
                <div class="col-md-6 col-xl-5 px-3 mt-5 offset-xl-1">
                    <div class="card mx-3" *ngIf="logInCardForm">
                        <div class="login-header white-text text-center py-4">
                            <h2 class="signIn-title">
                                Sign In
                            </h2>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="loginForm">
                                <div class="input-group mt-3 mb-4">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    </div>
                                    <input type="text" name="" class="form-control input_user"
                                        formControlName="userName" placeholder="User Name"
                                        [ngClass]="{ 'is-invalid': (this.loginForm.controls.userName.invalid && this.loginForm.controls.userName.touched),'is-valid':(this.loginForm.controls.userName.valid)}" />
                                    <div *ngIf="(this.loginForm.controls.userName.invalid && this.loginForm.controls.userName.touched)"
                                        class="invalid-feedback mt-0">
                                        <span>Field is required</span>
                                    </div>
                                </div>
                                <div class="input-group mt-3 mb-3">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fas fa-key"></i>
                                        </span>
                                    </div>
                                    <input type="password" name="" class="form-control input_pass"
                                        formControlName="password" placeholder="Password"
                                        [ngClass]="{ 'is-invalid': (this.loginForm.controls.password.invalid && this.loginForm.controls.password.touched),'is-valid':(this.loginForm.controls.password.valid)}">
                                    <div *ngIf="(this.loginForm.controls.password.invalid && this.loginForm.controls.password.touched)"
                                        class="invalid-feedback mt-0">
                                        <span>Field is required</span>
                                    </div>
                                </div>
                                <div class="forggetnPassword">
                                    <a (click)="changeFormState('forgotCardForm')">Forgot Password</a>
                                </div>
                                <div class="d-flex justify-content-center mt-5 login_container">
                                    <button (click)="login()" type="button" name="button" class="btn login_btn">SIGN
                                        IN</button>
                                </div>
                                <div class="socialMedia_icons mt-5">
                                    <ul class="socialMedia_icons-listing text-center">
                                        <li>
                                            <a href="#" class="facebook">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="twitter">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="linkedin">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="card mx-3" *ngIf="forgotCardForm">
                        <div class="login-header white-text text-center py-4">
                            <h2 class="signIn-title">
                                Forgot Your Password
                            </h2>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="forgotForm">
                                <div class="input-group mt-3 mb-4">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                    </div>
                                    <input type="text" formControlName="email" class="form-control input_user" value=""
                                        placeholder="Enter Your E-mail"
                                        [ngClass]="{ 'is-invalid': (this.forgotForm.controls.email.invalid && this.forgotForm.controls.email.touched),'is-valid':(this.forgotForm.controls.email.valid)}" />
                                    <div *ngIf="(this.forgotForm.controls.email.invalid && this.forgotForm.controls.email.touched)"
                                        class="invalid-feedback mt-0">
                                        <span>Field is required</span>
                                    </div>

                                </div>

                                <div class="d-flex justify-content-center mt-5 login_container">
                                    <button type="button" name="button" class="btn login_btn"
                                        (click)="getNewPassword()">Forgot Password</button>
                                </div>

                                <div class="text-center mt-3">
                                    <a href="#" (click)="changeFormState('logInCardForm')" class="backTo_login">
                                        <i class="fas fa-long-arrow-alt-left"></i> Back To LogIn
                                    </a>
                                </div>

                                <div class="socialMedia_icons mt-5">
                                    <ul class="socialMedia_icons-listing text-center">
                                        <li>
                                            <a href="#" class="facebook">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="twitter">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="linkedin">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="card mx-3" *ngIf="changePasswordCardForm">
                        <div class="login-header white-text text-center py-4">
                            <h2 class="signIn-title">
                                Change Your Password
                            </h2>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="fogotPasswordForm">
                                <div class="input-group mt-3 mb-4">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                    </div>
                                    <input type="text" formControlName="oldEmail" class="form-control input_user"
                                        value="" placeholder="Enter Your E-mail"
                                        [ngClass]="{ 'is-invalid': (this.fogotPasswordForm.controls.oldEmail.invalid && this.fogotPasswordForm.controls.oldEmail.touched),'is-valid':(this.fogotPasswordForm.controls.oldEmail.valid)}" />
                                    <div *ngIf="(this.fogotPasswordForm.controls.oldEmail.invalid && this.fogotPasswordForm.controls.oldEmail.touched)"
                                        class="invalid-feedback mt-0">
                                        <span>Field is required</span>
                                    </div>

                                </div>
                                <div class="input-group mt-3 mb-4">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fas fa-key"></i>
                                        </span>
                                    </div>
                                    <input type="password" formControlName="otp" class="form-control input_pass"
                                        value="" placeholder="OTP"
                                        [ngClass]="{ 'is-invalid': (this.fogotPasswordForm.controls.otp.invalid && this.fogotPasswordForm.controls.otp.touched),'is-valid':(this.fogotPasswordForm.controls.otp.valid)}" />
                                    <div *ngIf="(this.fogotPasswordForm.controls.otp.invalid && this.fogotPasswordForm.controls.otp.touched)"
                                        class="invalid-feedback mt-0">
                                        <span>Field is required</span>
                                    </div>
                                </div>
                                <div class="input-group mt-3 mb-3">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fas fa-key"></i>
                                        </span>
                                    </div>
                                    <input type="password" formControlName="password" class="form-control input_pass"
                                        value="" placeholder="Password"
                                        [ngClass]="{ 'is-invalid': (this.fogotPasswordForm.controls.password.invalid && this.fogotPasswordForm.controls.password.touched),'is-valid':(this.fogotPasswordForm.controls.password.valid)}" />
                                    <div *ngIf="(this.fogotPasswordForm.controls.password.invalid && this.fogotPasswordForm.controls.password.touched)"
                                        class="invalid-feedback mt-0">
                                        <span>Field is required</span>
                                    </div>
                                </div>
                                <div class="input-group mt-3 mb-3">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fas fa-key"></i>
                                        </span>
                                    </div>
                                    <input type="password" formControlName="confirmPassword"
                                        class="form-control input_pass" value="" placeholder="Confirm Password"
                                        [ngClass]="{ 'is-invalid': (this.fogotPasswordForm.controls.confirmPassword.invalid && this.fogotPasswordForm.controls.confirmPassword.touched),'is-valid':(this.fogotPasswordForm.controls.confirmPassword.valid)}" />
                                    <div *ngIf="(this.fogotPasswordForm.controls.confirmPassword.invalid && this.fogotPasswordForm.controls.confirmPassword.touched)"
                                        class="invalid-feedback mt-0">
                                        <span>Field is required</span>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center mt-5 login_container">
                                    <button type="button" name="button" class="btn login_btn"
                                        (click)="changePassword()">Change Password</button>
                                </div>

                                <div class="text-center mt-3">
                                    <a href="#" (click)="changeFormState('logInCardForm')" class="backTo_login">
                                        <i class="fas fa-long-arrow-alt-left"></i> Back To LogIn
                                    </a>
                                </div>

                                <div class="socialMedia_icons mt-5">
                                    <ul class="socialMedia_icons-listing text-center">
                                        <li>
                                            <a href="#" class="facebook">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="twitter">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="linkedin">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
