<section *ngIf="router.url === '/dashboard/add-vaccine' || router.url === '/dashboard/user-details'">
    <div class="container">
        <div class="tab_pane mt-4">
            <ul class="tab_listing">
                <li><a class="nav-link" [routerLink]="['/dashboard/add-vaccine']" routerLinkActive="active">Vaccines</a>
                </li>
                <li><a class="nav-link" [routerLink]="['/dashboard/user-details']" routerLinkActive="active">User</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<router-outlet></router-outlet>
